version: '3.8'
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: albion_user
      POSTGRES_PASSWORD: albion_password
      POSTGRES_DB: albion_market
    ports:
      - "5438:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: